<h2>{{ title }}</h2>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<mat-card class="simpleCard">Simple Card</mat-card>
<app-snackbardemo></app-snackbardemo>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <input type="text" 
            placeholder="Pick one"
            aria-label="Number"
            matInput 
            [formControl]="myControl" 
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<div class="container" [ngSwitch]="myAge">
    <div *ngSwitchCase="'10'">age = 10</div>
    <div *ngSwitchCase="'20'">age = 20</div>
    <div *ngSwitchDefault>age = 18</div>
</div>

<app-filter-autocomplete></app-filter-autocomplete>

<h3>appIf Directive</h3>
<p *appIf="isMan">性別: 男</p>
<p *appIf="!isMan">性別: 女</p>

<h3>Dialog Overview</h3>
<ol>
    <li>
        <mat-form-field>
            <mat-label>What's your name?</mat-label>
            <input matInput [(ngModel)]="name">
        </mat-form-field>
    </li>
    <li>
        <button mat-raised-button class="mat-focus-indicator mat-raised-button mat-button-base" (click) = "openDialog()">Pick One</button>
    </li>
    <li *ngIf="animal">
        Your choose: <i>{{animal}}</i>
    </li>
</ol>

<h3>MatIcon</h3>
<h5>SVG icons</h5>
<p>SVG icon 這個用法需要import HttpClientModule</p>
<mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
<h5>Basic icons</h5>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>